body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app {
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.todo-container {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.add-todo {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #5cb85c;
  color:#333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
}

.todo-item {
  display: flex;
  align-items: center;
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  min-width: 580px;
  width: fit-content;
  
}

.todo-item p {
  display: flex;
  flex-grow: 5;
  margin: 5px;
  padding-left: 10px;
  word-wrap: break-word;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.delete-icon {
  cursor: pointer;
  margin-left: 10px;
}

.delete-icon:hover {
  color: #d9534f;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 600px) {
  .todo-container {
    width: 100%;
    max-width: 400px; /* Adjust max-width based on your preference */
  }
}